
@import "utils/reset"
@import "utils/variables"
@import "utils/mixins"
@import "utils/fonts"
@import "utils/libs"
@import "utils/general"
@import "utils/framework"
@import "utils/pixel-perfect"

@import "modules/modules"

html 
  scroll-behavior: smooth

body.datagen
  font-family: $main__font
  color: $white
  background-color: $black
  font-size: 15px
  font-weight: 500
  font-style: normal
  font-stretch: normal
  line-height: 1.73
  letter-spacing: normal
  @media only screen and (max-width: 770px)
    font-size: 14px
    line-height: 1.71
  img
    border-style: none
    width: 100%
  
.no-scroll
  overflow: hidden

section
  //background-color: $black
  

.wp-block
  max-width: 100%!important
  width: 100%!important
.grecaptcha-badge,
.rc-anchor,
.rc-anchor-invisible,
.rc-anchor-light,
.rc-anchor-invisible-hover
  opacity: 0!important
  visibility: hidden!important
  
// Navbar
.navbar
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  position: fixed
  z-index: 100
  margin-top: -32px
  padding: 7px 0
  top: 50%
  right: 1%
  background-color: #d8d8d8
  width: 20px
  height: fit-content
  border-radius: 60px
  transition: all .3s ease-in-out
  @media only screen and (max-width: 770px)
    display: none
  &__link
    border-radius: 50%
    width: 6px
    height: 6px
    margin: 6px
    background-color: $grey
    transition: all .3s ease-in-out
    &:hover
      background-color: $dark

.is-hidden
  opacity: 0
  visibility: hidden
    
