.ch-title
  font-size: 50px
  line-height: 1.3
  letter-spacing: normal
  font-weight: inherit
  font-family: $main__font
  color: $white
  position: relative
  z-index: 1
  @media only screen and (max-width: 770px)
    font-size: 24px
  &--middle
    font-size: 60px
    line-height: 1.08
    @media only screen and (max-width: 770px)
      font-size: 28px
  &--big
    font-size: 100px
    font-weight: bold
    line-height: 1.15
    @media only screen and (max-width: 1000px)
      font-size: 80px
    @media only screen and (max-width: 770px)
      font-size: 36px
      line-height: 1.36
  
  &--bold
    font-weight: bold
  &--600
    font-weight: 600
  &--blue 
    color: $light-blue
    font-size: 22px
    font-weight: 600
    line-height: .95
  &--dark-blue
    color: $dark-blue

.ch-text
  font-family: $main__font
  color: $white
  position: relative
  z-index: 1
  &--big
    font-size: 22px
    @media only screen and (max-width: 770px)
      font-size: 15px
      line-height: 1.67
  &--middle
    font-size: 17px
  &--small
    font-size: 14px
  &--dark
    color: $dark

.link
  font-size: 22px
  line-height: 1.23
  display: flex
  flex-direction: row
  align-items: flex-end
  width: fit-content
  font-family: $main__font
  color: $white
  @media only screen and (max-width: 770px)
    font-size: 14px
  &:hover
    .link__wrapper
      span
        transform: translateY(-28px)
        @media only screen and (max-width: 770px)
          transform: translateY(-17px)
    .link__wrapper--small
      span
        transform: translateY(-20px)
    .link__wrapper--smaller
      span
        transform: translateY(-18px)
  &__wrapper
    display: flex
    flex-direction: column
    overflow: hidden
    max-height: 28px
    @media only screen and (max-width: 770px)
      max-height: 17px
    span
      transition: all .2s ease-in-out
    &--small
      max-height: 20px
    &--smaller
      max-height: 20px
  &__img
    margin-left: 20px
    transition: all .2s ease-in-out
    width: 15px
    @media only screen and (max-width: 770px)
      width: 9px
    &--small
      width: 13px
    &--smaller
      width: 12px
  &:hover
    .link__img
      transform: translateX(5px)
  &--small
    font-size: 16px
  &--smaller
    font-size: 15px
  &--desktop
    @media only screen and (max-width: 1050px)
      display: none
  &--mobile
    display: none
    @media only screen and (max-width: 1050px)
      display: flex
      margin: 50px auto

.ch-button
  padding: 16px 25px
  box-sizing: border-box
  transition: all .2s ease-in-out
  border-radius: 400px
  font-family: $main__font
  color: $white
  &--blue
    background-color: $blue
    color: $white
    &:hover 
      background-color: $white
      color: $blue
  &--white
    background-color: $white
    color: $blue
    @media only screen and (max-width: 770px)
      font-size: 14px
    &:hover 
      background-color: $blue
      color: $white
  &--bordered-white
    border: solid 1px $white
    @media only screen and (max-width: 770px)
      padding: 11px 14px
      border-color: $blue
      background-color: $blue
      font-size: 12px
    &:hover
      background-color: $white
      color: $blue
  &--middle 
    padding: 13px 25px

.block 
  max-width: 500px
  position: relative
  & > *
    &:not(:last-child)
      margin-bottom: 40px
  &--common 
    margin-right: 20px
    max-width: 700px
    & > * 
      &:first-child 
        width: 630px
        @media only screen and (max-width: 770px)
          width: 100%
  &--wide
    max-width: 520px