.navigation 
  max-width: 1640px
  margin: 0 auto 
  padding: 68px 36px 0
  @media only screen and (max-width: 770px)
    padding: 42px 36px 0
  &__wrapper 
    & > *
      &:not(:last-child)
        margin-right: 66px 
  &__link
    padding-bottom: 10px
    transition: all .2s ease-in-out
    position: relative
    z-index: 1
    font-family: $main__font
    color: $white
    @media only screen and (max-width: 770px)
      display: none
    &:after 
      content: ''
      position: absolute
      width: 0
      transition: all .2s ease-in-out
      right: 0
      bottom: 0
      height: 2px
      background-color: $white
      z-index: -1
    &:hover,
    &.hover
      &:after
        width: 100%
        right: auto
        left: 0

.logo
  width: 197px
  display: block
  @media only screen and (max-width: 770px)
    width: 115px